@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;700&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}


.container{
    width: 80%;
    max-width: 770px;
    margin: 0 auto;
}

.row{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

/* =======================
    header section
=========================*/


.title {
    background-color: blueviolet;
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.title h1{
    color :white;
    font-size: 3rem;
    text-align: center;
}


/* ====================
    form section
=======================*/

input {
    font-size:2.5rem;
    text-align: right;
    font-family: 'Smooch Sans', sans-serif;
    background-color: black;
    color: green ;
    width: 195px;
    height: 75px;
}
button{
    font-size: 1rem;
    padding: .3em 1em;
    border-radius: 60px;
}

form{
    background-color: gray;
    height: 342px;
    width: 350px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: .5rem;
    
}

/* ====================
    results
=================*/

.history{
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.history h2{
    font-size: 3em;
}

.history p{
    font-size: 2em;
}

.result:hover{
    background-color: rgb(151, 147, 147);
    cursor: pointer;
}