*,*::before,*::after{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}


.container{
    width: 80%;
    max-width: 770px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* =======================
    header section
=========================*/




.title {
    background-color: blueviolet;
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.title h1{
    color :white;
    font-size: 3rem;
    text-align: center;
}


/* ====================
    form section
=======================*/
input {
    width: 75px;
}
button{
    padding: .1em 1em
}

/* ====================
    results
=================*/

.history{
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.history h2{
    font-size: 3em;
}

.history p{
    font-size: 2em;
}