*,*::before,*::after{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}


.container{
    width: 70%;
    margin: 0 auto;
}

.row{
    display: flex;
}

/* =======================
    header section
=========================*/



h1{
    color :white;
    text-align: center;
}

.title {
    background-color: blueviolet;
    padding: 2rem 0;
}